.tab
{
    font-size: 12px;

    position: relative;

    display: flex;

    box-sizing: border-box;
    height: 100%;
    padding: 0 32px;

    cursor: default;

    border-right: 1px solid var(--header-border);

    align-items: center;
}

.tab.focused
{
    background: var(--tabs-focused-background-color);
}

.tab.focused::after
{
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 1px;

    content: '';

    background: var(--tabs-focused-background-color);
}

.tab__close
{
    position: absolute;
    right: 8px;

    visibility: hidden;

    width: 12px;
    height: 12px;
}

.tab__close::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;

    content: '';
    transform: rotate(45deg) translate(4px, 4px);

    background: var(--editor-text-color);
}

.tab__close::after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;

    content: '';
    transform: rotate(-45deg) translate(-4px, 4px);

    background: var(--editor-text-color);
}

.tab:hover .tab__close
{
    visibility: visible;
}
